.search__title {
    min-width: 608px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 32px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: #FFFFFF;
}