@import url(./__content/comments__content.css);
@import url(./__link/comments__link.css);
@import url(./__title/comments__title.css);
@import url(./__author/comments__author.css);
@import url(./__avatar/comments__avatar.css);
@import url(./__card/comments__card.css);
@import url(./__date/comments__date.css);
@import url(./__mail/comments__mail.css);
@import url(./__text/comments__text.css);
@import url(./__about-author/comments__about-author.css);
@import url(./__paragraph/comments__paragraph.css);
@import url(./__button/comments__button.css);
@import url(./__button-link/comment__button-link.css);



.comments {
    background: #F5F6F7;
    padding-bottom: 136px;
}

@media screen and (max-width: 425px) {
    .comments {
        padding-bottom: 32px;

    }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .comments {
        padding-bottom: 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .comments {
        padding-bottom: 80px;
    }
}
