@import url(./__title/header__title.css);
@import url(./__page/header__page.css);
@import url(./__page/_pg/_active/header__page_pg_active.css);
@import url(./__page/_theme/_dark/header__page_theme_dark.css);



@font-face {
    font-family: 'Roboto';
    src: url(../../fonts-frontend/robotoslab-regular.woff);
    font-style: normal;
    font-weight: normal;
}

.header {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto, Arial, sans-serif;
    padding-top: 30px;
    padding-bottom: 23px;
    padding-right: 67px;
    color: #FFFFFF;
    border-bottom: 0.1px solid rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

