@import url(../__scale/_position/_down/table__scale_position_down.css);

.table__scale {
    padding-left: 104px;
    margin-right: 104px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #1A1B22;
}