.result__cards {
    max-width: 1332px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    
}

@media screen and (max-width: 767px) {
    .result__cards {
        justify-content: center;
        
    }
}

/* @media screen and (min-width: 430px) and (max-width: 768px) {
    .result__cards {
        flex-wrap: nowrap;
        margin-left: 40px;
        margin-right: 24px;

    }
} */


@media screen and (min-width: 768px) and (max-width: 1280px) {
    .result__cards {
        flex-wrap: nowrap;
        margin-left: 40px;
        margin-right: 24px;

    }
}