@import url(./__title/search__title.css);
@import url(./__text/search__text.css);
@import url(./__form/search__form.css);
@import url(./__input/search__input.css);
@import url(./__button/search__button.css);

@font-face {
    font-family: 'Roboto';
    src: url(../../fonts-frontend/robotoslab-regular.woff);
    font-style: normal;
    font-weight: normal;
}

.search {
    display: flex;
    flex-direction: column;


}