.table__column {
    padding-left: 6px;
    background: #2F71E5;
    height: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}