@import url(./_pg/_no-active/header__page_pg_no-active.css);
@import url(./_theme/_dark/_pg/_active/header__page_theme_dark_pg_active.css);


.header__page {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-left: 34px;
    text-decoration: none;
    color: #B6BCBF;

}

.header__page:hover {
    color: #FFFFFF;
}