@import url(./_pg/header__page_pg_no-active.css);

.header__page {
    text-align: right;
    margin-top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
    

    
}



