.search__text {
    max-width: 585px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

@media screen and (max-width: 425px) {
    .search__text {
        font-size: 20px;
        line-height: 26px;
        margin-left: 16px;
        margin-right: 16px;
    }
}


@media screen and (min-width: 426px) and (max-width: 767px) {
    .search__text {
        font-size: 20px;
        line-height: 26px;
        margin-left: 100px;
        margin-right: 100px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .search__text {
        margin-left: 160px;
        margin-right: 156px;
    }
}
